<div class="ui very centered padded text container segment">
  <h2>Log in Portal</h2>
  <form class="ui form" <%= form_tag do%>
    <div class="eight wide required field ">
      <!--      <labe>Email</labe>-->
      <%= label_tag :email, 'Email:' %>
      <div class="ui left icon input">
        <i class="user alternate icon"></i>
        <%= email_field_tag :email, params[:email],required: true %>
      </div>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="eight wide field">
      <!--      <label> Password </label>label-->
      <%= label_tag :password, 'Password:' %>
      <div class="ui left icon input">
        <i class="key icon"></i>
        <%= password_field_tag :password, params[:password],autocomplete: "off",required: true %>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="rememberCheckbox" tabindex="0" class="visible">
        <label>Remember me</label>
      </div>
    </div>
    <div class="actions" id="center-button">
      <button class="ui violet button" type="submit" <%=submit_tag %>>Login
      </button>
    </div>
  <%end %>

  </form>
  </br>
  <div id="center-button">
    <label>Don't have an account?</label> <%= link_to "Sign Up", sign_up_path	%>
  </div>
  <div id="forget_password">
    <a href="/dashboard">Forgot your password?</a>
  </div>
</div>



