<div class="ui fixed inverted large secondary menu" style="background-color: #4a69bb;">
  <div class="ui container">
    <div class="header item" id="top-nav">
      <a class="<%= current_page?(root_path) ? "active" : '' %> item" href="<%= root_path %>">
        Music
      </a>
    </div>
    <div class="right menu">
      <% if logged_in? %>
        <a class="<%= current_page?(artist_path) ? "active" : '' %> item" href="<%= artist_path %>">
          <i class="user circle icon"></i>
          Artist
        </a>
        <a class="<%= current_page?(soccer_search_path) ? "active" : '' %> item" href="<%= soccer_search_path %>">
          <i class="futbol icon"></i>
          Soccer
        </a>
        <a class="<%= current_page?(video_search_path) ? "active" : '' %> item" href="<%= video_search_path %>">
          <i class="file video icon"></i>
          Video
        </a>
        <a class="<%= current_page?(logout_path) ? "active" : '' %> item" href="<%= logout_path %>">
          <i class="user circle icon"></i>
          Log Out
        </a>

    <% else %>
        <a class="<%= current_page?(login_path) ? "active" : '' %> item" href="<%= login_path %>">
          <i class="user circle icon"></i>
          Login
        </a>
      <% end %>
    </div>
  </div>
</div>